.sidebar {
  border-right: 0.5px solid lightgray;
  flex: 1;
  min-height: 100vh;
  background-color: white;
  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid lightgray;
    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6868c6;
    }
  }
  .center {
    padding-left: 20px;
    margin-top: 40px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
      }
      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 18px;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }
}
